body {
  font-family: Helvetica;
  padding: 20px;
  background-color: #C8F5E1;
  line-height: 1.4em;
}

.warning {
  background-color: #FF7E6B;
  padding: 10px;
  border-radius: 4px;
}

#key-takeaway {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border: 4px dashed black;
  border-radius: 4px;
}