nav {
  background-color: #E8D7FF;
  padding: 10px;
  margin: -8px;
}

a {
  font-weight: 200;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Helvetica;
  color: #151814;
}

/* a:visited {
  color: #858C7B;
} */

a:hover {
  background-color: #DFFFD6;
  text-transform: uppercase;
/*   padding: 10px; */
}

a:active {
  background-color: #F3FFE1;
}


ul {
  text-align: center;
  padding: 0px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}